.mainDiv{
  background-image: url(cork.jpg);
  width: 100%;
  height: 100vh;
  padding: 23px;
  position: relative;
}  
.noteDiv{
  background-color: lemonchiffon;
  width: 300px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px;
  display: inline-block;
  
}
.noteDiv>button{
  margin-left: 3em;
}
#bNew{
  background-color: goldenrod;
  color: darkred;
  width: 200px;
  height: 100px;
  font-size: xx-large;
  font-family:"Times New Roman", Times, serif;
  padding: 5px;
  margin: 2px;
}
.bDel{
  background-color: coral;
}
textarea{ 
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
  font-family:"Times New Roman", Times, serif;  
  font-size: 18px;
  margin-left: 3em;  
  
  height: 3em; 
  resize: none; 
}
h1{
  font-size: 27px;
  margin-left: 3rem;
  padding-top: 10px;
}
header{
  width: 100%;
  height: 100px;
  background-color: lawngreen;
}
p{
  margin-left: 54px;
}
